<GridLayout rows="auto">
    <RadDataForm row="0" commitMode="OnLostFocus" (propertyCommitted)="formChanged($event)" [source]="driver">
        <TKEntityProperty tkDataFormProperty name="insurancePremium" ignore="true" hidden="true">
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="coverage" displayName="Damage Coverage" index="0" valuesProvider="Full, Limited">
            <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="gender" displayName="Gender" index="0" valuesProvider="male, other">
            <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="age" displayName="Age">
            <TKPropertyEditor tkEntityPropertyEditor type="Number"></TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="licenceYears" displayName="Years since getting License">
            <TKPropertyEditor tkEntityPropertyEditor type="Number"></TKPropertyEditor>
        </TKEntityProperty>
    </RadDataForm>
</GridLayout>