<ActionBar class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onBackButtonTap()">
    </NavigationButton>
    <Label class="action-bar-title" [text]="'Driver Details - ' + car.name" horizontalAlignment="center"></Label>
    <ActionItem ios.position="right" android.position="right" (tap)="onEditButtonTap()">
    </ActionItem>
</ActionBar>

<Stacklayout class="page page-content">
    <RadDataForm [source]="driver">
        <TKEntityProperty tkDataFormProperty name="age" displayName="Age">
            <TKPropertyEditor tkEntityPropertyEditor type="Number"></TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="licenceYears" displayName="Years since getting License">
            <TKPropertyEditor tkEntityPropertyEditor type="Number"></TKPropertyEditor>
        </TKEntityProperty>
    </RadDataForm>

    <Button text="Calculate Premium" (tap)="onCalculateTap($event)"></Button>
</Stacklayout>