body {
    /*background-color: black;*/
    background-color: #535151;
    color: white;
}

.sampleTitle {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
}

.commandVerticalSpacer {
    height: 1rem;
}

.commandBar {
    margin-top: 1rem;
}

.commandContainer {
}
.command {
}
.commandButton {
    background-color: lightblue;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 0.6rem;
    /*font-size: 1rem;*/
    border-radius: 5px;
}
.commandButtonHidden {
    display: none;
}

.showTraceContainer {
    padding-top: 1rem;
}

.sampleSelectLabel {
    font-size: 0.9rem;
}
.sampleSelect {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    /*font-size: 1rem;*/
    background-color: lightblue;
    border-radius: 5px;
}

a.command:hover, a.command:visited, a.command:link, a.command:active {
    text-decoration: none;
    color: black;
}

