body {
    background-color: #43cbcb;
    font-family: Segoe UI;
}

.sampleTitle {
    font-family: Segoe UI;
}

.allTracesContainer textarea {
    background-color: #191970;
    font-family: Segoe UI;
}

