.dynUIContainer {
    margin: 1em;
    padding: 1em;
    border: 1px solid black;"
}

.inputContainer {
    margin: 1em;
}

.inputLabel {
    margin-left: .3em;
    margin-right: .3em;
}

.readOnlyText {
    margin-left: .3em;
    margin-right: .3em;
}

.fieldValidationLabel {
    margin-left: .3em;
    margin-right: .3em;
}

.commandBar {
    margin-left: 3em;
    margin-right: 3em;
}

a.command:hover, a.command:visited, a.command:link, a.command:active
{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.stageInTrace {
    color: blue;
    border: #2be259 2px solid;
}

a.stageInTrace:hover, a.stageInTrace:visited, a.stageInTrace:link, a.stageInTrace:active
{
    text-decoration: none;
}

.activeStageInTrace {
    font-size: larger;
    font-weight: bold;
}

.containerValidationMessage {
    color: firebrick;
}
.controlValidationMessage {
    color: firebrick;
}
