.dynUIContainer {
    margin: .5rem;
    padding: .5rem;
    border: 0.5rem solid darkmagenta;
    background-color: ghostwhite;
    color: black;
    border-radius: 1rem;
    font-family: Segoe UI;
}

.inputContainer {
    margin: 1em;
    }

.inputLabelSide {
    margin-left: .3em;
    margin-right: .3em;
}
.inputLabelAbove {
    margin-bottom: 0.3rem;
}

.readOnlyText {
    margin-left: .3em;
    margin-right: .3em;
}

.fieldValidationLabel {
    margin-left: .3em;
    margin-right: .3em;
}

.containerValidationMessage {
    color: firebrick;
}
.controlValidationMessage {
    color: firebrick;
}

.textAreaControl {
    vertical-align: middle
}

.expenseAmount {
    width: 5rem;
    margin-left: 0.8rem;
}
.addExpenseContainer {
    text-align: center;
    border: black 1px solid;
    border-radius: 0.5rem;
    margin-left: 2rem;
    font-size: 1.05rem;
    font-weight: bold;
    color: blue;
    padding-left: .2rem;
    padding-right: .2rem;
    display: table;
}
.currencySelector {
    margin-left: 0.8rem;
}
