.tracePanelTitle {
    text-align: center;
    font-size: 1.4rem;
    margin: 0.2rem;
}

.allTracesContainer {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;

    border: rgb(5, 5, 5) 3px solid;
    border-radius: 1rem;
    display: none;
}

.allTracesContainer textarea {
    background-color: MediumSeaGreen;
    color: white;
    border-color: white;
    border-width: 3px;
}

.allTracesContainer tr {
    color: rgb(5, 5, 5);
}

.stageTraceHistory {
    font-size: 1.1rem;
    color: rgb(5, 5, 5);
}

.stageInTrace {
    color: rgb(5, 5, 5);
}

.activeStageInTrace {
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 1.3rem;
}

a.stageInTrace:hover,
a.stageInTrace:visited,
a.stageInTrace:link,
a.stageInTrace:active {
    text-decoration: none;
}

a.copyToClip:hover,
a.copyToClip:visited,
a.copyToClip:link,
a.copyToClip:active {
    text-decoration: none;
    color: rgb(0, 0, 0);
}