.tracePanelTitle {
    text-align: center;
    font-size: 1.4rem;
    margin: 0.5rem;
}

.allTracesContainer {
    margin-top: 1.5rem;
    border: cornflowerblue 3px solid;
    border-radius: 1rem;
    display: none;
}

.allTracesContainer textarea {
    background-color: #535151;
    color: white;
}

.allTracesContainer tr {
    color: white;
}

.stageTraceHistory {
    font-size: 1.1rem;
    color: lightskyblue;
}

.stageInTrace {
    color: lightskyblue;
    border: #2be259 2px solid;
    border-radius: 1rem;
}

.activeStageInTrace {
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 1.3rem;
}

a.stageInTrace:hover, a.stageInTrace:visited, a.stageInTrace:link, a.stageInTrace:active
{
    text-decoration: none;
}

a.copyToClip:hover, a.copyToClip:visited, a.copyToClip:link, a.copyToClip:active {
    text-decoration: none;
    color: white;
}

